---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  labels:
    {{- include "suspend.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  strategy: 
    type: Recreate
  {{- end }}
  selector:
    matchLabels:
      {{- include "suspend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
{{- if .Values.global }}
  {{- if or .Values.annotations .Values.global.annotations }}
      annotations:
    {{- with .Values.annotations }}
{{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.global.annotations }}
{{- toYaml . | nindent 8 }}
    {{- end }}
  {{- end }}
{{- end }}
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}

      labels:
        app.kubernetes.io/part-of: non-mediation
        {{- include "suspend.selectorLabels" . | nindent 8 }}
    spec:
{{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
{{- end }}
{{- if .Values.global.registry }}
    {{- if .Values.global.imagePullSecret }}
      imagePullSecrets:
      - name: {{ .Values.global.imagePullSecret }}
    {{- else -}}
      {{- if and .Values.global.imageUsername .Values.global.imagePassword }}
      imagePullSecrets:
      - name: turbocred
      {{- end }}
    {{- end }} 
{{- end }}   
{{- if .Values.global }}
  {{- if or .Values.serviceAccountName .Values.global.serviceAccountName }}
      serviceAccountName: {{ template "serviceAccountName" . }}
  {{- end }}
  {{- if or .Values.podSecurityContext .Values.global.securityContext }}
      securityContext:
    {{- with .Values.podSecurityContext }}
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.global.securityContext }}
        {{- toYaml . | nindent 8 }}
    {{- end }}
  {{- end }}
{{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: {{ template "image" . }}
          imagePullPolicy: {{ template "pullPolicy" . }}
          env:
{{- if .Values.global }}
  {{- if or .Values.logtostdout .Values.global.logtostdout }}
            - name: LOG_TO_STDOUT
              value: "true"
  {{- end }}
{{- end }}
            - name: component_type
              value: suspend
            - name: instance_id
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: SUSPEND_REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis
                  key: redis-password
          ports:
            - name: http
              containerPort: 9093
              protocol: TCP
            - name: grpc
              containerPort: 9094
              protocol: TCP
           
          livenessProbe:
            initialDelaySeconds: 30
            httpGet:
              path: /liveness
              port: 9093
            failureThreshold: 3
            periodSeconds: 30
          readinessProbe:
            initialDelaySeconds: 30
            httpGet:
              path: /readiness
              port: 9093
            failureThreshold: 3
            periodSeconds: 30
 
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
          - mountPath: /vault/redis/secrets
            name: redis-creds
            readOnly: true
{{- if .Values.global }}
  {{- if or .Values.dbSecretName .Values.global.dbSecretName }}
          - mountPath: /vault/db/secrets
            name: db-creds
            readOnly: true
  {{- end }}
  {{- if .Values.global.enableExternalSecrets }}
    {{/* Kubernetes secrets are enabled for encryption keys. */}}
  {{/* Kubernetes secrets are enabled for auth. */}}
          - mountPath: /home/suspend/data/master_keys
            name: master-key-secret
            readOnly: true
  {{- end }}
{{- end }}
          - mountPath: /opt/suspend/config
            name: config-map
          - mountPath: /etc/turbonomic
            name: turbo-volume
            readOnly: true
      volumes:
        - name: redis-creds
          secret:
            secretName: xl-release-redis
            optional: true
{{- if .Values.global }}
  {{- if .Values.global.enableExternalSecrets }}
    {{/* Kubernetes secrets are enabled for auth. Attach one secret for the directory of secret files. */}}
        - name: master-key-secret
          secret:
            secretName: master-key-secret
            optional: true
  {{- end }}
  {{- if or .Values.dbSecretName .Values.global.dbSecretName }}
        - name: db-creds
          secret:
            secretName: {{ template "dbSecretName" .}}
  {{- end }}
{{- end }}
        - name: config-map
          configMap:
            name: suspend-config
            defaultMode: 0755
        - name: turbo-volume
          configMap:
            name: global-properties-{{ .Release.Name }}
            optional: true
      restartPolicy: Always
{{- if .Values.global }}
  {{- if or .Values.nodeSelector .Values.global.nodeSelector }}
      nodeSelector:
    {{- with .Values.nodeSelector }}
  {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.global.nodeSelector }}
  {{- toYaml . | nindent 8 }}
    {{- end }}
  {{- end }}

  {{- if or .Values.affinity .Values.global.affinity }}
      affinity:
    {{- with .Values.affinity }}
  {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.global.affinity }}
  {{- toYaml . | nindent 8 }}
    {{- end }}
  {{- end }}

  {{- if or .Values.tolerations .Values.global.tolerations }}
      tolerations:
    {{- with .Values.tolerations }}
  {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.global.tolerations }}
  {{- toYaml . | nindent 8 }}
    {{- end }}
  {{- end }}
{{- end }}
