# Default values for arangodb.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

annotations: {}

image:
  repository: turbonomic
  tag: latest
  pullPolicy: IfNotPresent

env:
  - name: ARANGO_ROOT_PASSWORD
    value: root
  - name: ARANGODB_DEFAULT_ROOT_PASSWORD
    value: root

persistence:
  arangodb: 100Gi
  apps: 2Gi
  dump: 2Gi

resources:
  limits:
    memory: 4Gi
  requests:
    memory: 512Mi
