#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

[client]
port                    = 3306
socket                  = /var/lib/mysql/mysqld.sock

[mysqld_safe]
socket                  = /var/lib/mysql/mysqld.sock
nice                    = 0

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]
event_scheduler         = ON
skip-host-cache
skip-name-resolve
skip-external-locking
user                    = mysql
pid-file                = /var/lib/mysql/mysqld.pid
socket                  = /var/lib/mysql/mysqld.sock
port                    = 3306
basedir                 = /var/lib/mysql
datadir                 = /var/lib/mysql/data
# create the tempdir in the same directory as the data dir as we don't have
# enough space in the tmpfs.
tmpdir                  = /var/lib/mysql/tmp
lc_messages_dir         = /usr/share/mysql
lc_messages             = en_US
max_connections         = 151
connect_timeout         = 5
wait_timeout            = 86400
max_allowed_packet      = 1G
thread_cache_size       = 128
sort_buffer_size        = 4M
bulk_insert_buffer_size = 16M
tmp_table_size          = 32M
max_heap_table_size     = 32M
myisam_recover_options  = BACKUP
key_buffer_size         = 128M
table_open_cache        = 400
myisam_sort_buffer_size = 512M
concurrent_insert       = 2
read_buffer_size        = 2M
read_rnd_buffer_size    = 1M
query_cache_limit       = 8M
query_cache_size        = 64M
slow_query_log_file     = /var/log/mysql/mariadb-slow.log
general-log             = /var/log/mysql/mariadb.log
log-error               = /var/log/mysql/mariadb.error.log
long_query_time         = 10
expire_logs_days        = 10
max_binlog_size         = 100M
sql_mode                = ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
default_storage_engine  = InnoDB
innodb_buffer_pool_size = 4096M
innodb_log_file_size    = 10G
innodb_flush_log_at_trx_commit=2
innodb_log_buffer_size  = 8M
innodb_file_per_table   = 1
innodb_open_files       = 400
innodb_io_capacity      = 400
innodb_flush_method     = O_DIRECT
#character-set-server    = utf8mb4
#collation-server        = utf8mb4_unicode_ci
# Enable the creation of stored procedures for application ids without SUPER privilege
log_bin_trust_function_creators = 1

# Changes to align to legacy - October 12, 2017
collation-server         = utf8_unicode_ci
character-set-server     = utf8
character-set-client     = utf8

[mysqldump]
quick
quote-names
max_allowed_packet      = 128M
socket                  = /var/lib/mysql/mysqld.sock

#
# * Galera-related settings
#
[galera]
# Mandatory settings
#wsrep_on=ON
#wsrep_provider=
#wsrep_cluster_address=
#binlog_format=row
#default_storage_engine=InnoDB
#innodb_autoinc_lock_mode=2
#
# Allow server to accept connections on all interfaces.
#
#bind-address=0.0.0.0
#
# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.5 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.5]

