# Default values for rsyslog.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

annotations: {}

replicaCount: 1

image:
  repository: turbonomic
  tag: latest
  pullPolicy: IfNotPresent

#env:
  # - name: EXTERNAL_AUDITLOG
  #   value: rsyslog-audit.company.com:514

persistence:
  logsize: 30Gi
  auditsize: 30Gi

resources: {}
