# Default values for ui.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

annotations: {}

image:
  repository: turbonomic
  tag: latest
  pullPolicy: IfNotPresent

env:
  - name: component_type
    value: ui
  - name: instance_id
    valueFrom:
      fieldRef:
        fieldPath: metadata.name
  - name: instance_ip
    valueFrom:
      fieldRef:
        fieldPath: status.podIP
resources:
  limits:
    memory: 1Gi
  requests:
    memory: 512Mi
