# Default values for action-orchestrator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: turbonomic
  tag: latest
  pullPolicy: IfNotPresent

java:
  options: ""

resources:
  limits:
    memory: 4Gi
  requests:
    memory: 384Mi

nodeSelector: {}

tolerations: []

affinity: {}
